button:focus {
    outline: none;
}

.main {
    user-select: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.board {
    margin-top: auto;
    margin-bottom: 4rem;
    display: flex;
    height: 35vh;
    overflow-y: hidden;
    overflow-x: scroll;
}

.key-white {
    background-color: white;
    border: 2px solid wheat;
    padding: 0.75rem;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 3.5rem;
    transition: background-color 1500ms;
}

.key-white.active, .key-white:active:not(.disabled-key) {
    background-color: wheat;
    transition: background-color 100ms;
}
.key-black.active > div, .key-black:active:not(.disabled-key) > div {
    transition: background-color 100ms;
    background-color: rgb(119, 119, 119);
}

.key-black {
    position: relative;
    padding: 0;
    width: 0px;
    border: none;
    display: flex;
}
.key-black > div {
    background-color: black;
    color: white;
    padding: 0.1rem;
    height: 50%;
    border: 2px solid black;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: -1.2rem;
    min-width: 2rem;
    max-width: 2rem;
    transition: background-color 1500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editing:not(.key-black), .key-black.editing > div {
    background-color: #51ffd9;
    color: black;
    border: 2px dotted black;
    transition: background-color 150ms;
}

[data-editing="editing"].board * {
    transition: background-color 150ms;
}

.disabled {
    opacity: 0.6;
}

/**/

body, ul, p {
    margin: 0;
}

.top-bar {
    background-color: #cccccc;
    box-shadow: 0 0 10px #cccccc;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.top-bar button, .top-bar select {
    padding: 0.5rem 0.5rem;
    background-color: #f0f0f0;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #979797;
    border-radius: 8px;
    min-width: 2.5rem;
}


.top-bar button:active, .top-bar select:active {
    background-color: #979797;
}

.recording {
    background-color: #a30000!important;
    color: white;
}

.top-bar select:focus {
    outline: none;
}

/*CONFIG*/

.config.active {
    background-color: #51ffd9;
    position: relative;
}
.config.active::before {
    width: 15px;
    height: 15px;
    position: absolute;
    content: "";
    background-color: #51ffd9;
    top: 113%;
    rotate: 45deg;
    right: 10px;
    animation: popMessage 2s forwards;
}
.config.active:after {
    position: absolute;
    content: "Click any Key to bind";
    top: 135%;
    width: 3rem;
    right: 0;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: #51ffd9;
    animation: popMessage 2s forwards;
}

@keyframes popMessage {
    0%, 100% {
        opacity: 0%;
    }
    10%, 90% {
        opacity: 100%;
    }
}

/*Record*/

.record-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0.5rem;
    height: 40vh;
    max-height: 40vh;
    overflow-y: hidden;
    overflow-x: scroll;
}

.record {
    background-color: #f0f0f0;
    display: flex;
    gap: 1rem;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.record > .progress {
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    width: 0%;
    background-color: #979797;
    opacity: 0.5;
    border-radius: 10px;
}
.record.playing > .progress {
    width: 100%;
}

.record > :not(.progress) {
    z-index: 1;
}

.record.playing > :nth-child(2) {
    display: none;
}
.record:not(.playing) > :nth-child(3) {
    display: none;
}


/* VOLUME */

.volume {
    margin-left: auto;
    position: relative;
}

.volume > button {
    width: 2.5rem;
    display: flex;
    justify-content: center;
    height: 100%;
}


.volume-pop {
    z-index: 1;
    position: absolute;
    padding: 0.5rem;
    width: -webkit-fill-available;
    border: 2px solid #979797;
    border-radius: 8px;
    background-color: #f0f0f0;
    gap: 0.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
}

.volume:has(button:hover) > .volume-pop, .volume-pop:hover {
    display:flex
}

.volume-pop > .bar {
    position: relative;
    background-color: #979797;
    height: 5rem;
    width: 0.5rem;
    border-radius: 5px;
}
.volume-pop .drag {
    position: absolute;
    background-color: #2c2c2c;
    height: 0.5rem;
    left: -0.22rem;
    width: 1rem;
    border: none;
    border-radius: 5px;
}